In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
financials_to_load = "NFL_Yearly_Breakdown_combined.csv"

In [3]:
# Read the financials data file and store it in a Pandas DataFrame.
financials_df = pd.read_csv(financials_to_load)
financials_df

,Rank,Player,Year,Pos,Team,Draft Year,BaseSalary,SigningBonus,Cap Hit,Salary%,Cash,AAV,CONT YR,CONT VALUE,Earnings,FA Year,Sign Year,Sign Age,Age,Unnamed: 19
0,NaN,Mark Sanchez,2011,QB,NYJ,2009,"$14,225,000",$0,"$17,228,125",0.134,"$14,725,000","$10,100,000",5,"$50,500,000","$41,392,500",2014,2009,22,25,NaN
1,NaN,Dwight Freeney,2011,OLB,IND,2002,"$11,420,000","$2,500,000","$16,420,000",0.134,"$11,420,000","$12,000,000",6,"$72,000,000","$72,137,572",2013,2007,26,31,NaN
2,NaN,Larry Fitzgerald,2011,WR,ARI,2004,"$2,000,000","$5,000,000","$16,250,000",0.133,"$20,000,000","$16,142,857",7,"$113,000,000","$73,782,500",2019,2011,27,28,NaN
3,NaN,Mario Williams,2011,DE,HOU,2006,"$13,800,000",$0,"$16,200,000",0.135,"$13,800,000","$9,000,000",6,"$54,000,000","$44,500,000",2012,2006,20,26,NaN
4,NaN,Peyton Manning,2011,QB,IND,1998,"$3,400,000","$4,000,000","$16,000,000",0.130,"$26,400,000","$18,000,000",5,"$90,000,000","$171,732,000",2016,2011,34,35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24852,NaN,Bradley Roby,2024,CB,NO,2014,$0,$0,"$169,475",0.001,$0,"$10,500,000",3,"$31,500,000","$54,970,752",2023,2020,27,32,NaN
24853,NaN,Jesse James,2024,TE,CHI,2015,$0,"$162,500","$162,500",0.001,$0,"$1,650,000",1,"$1,650,000","$17,707,976",2022,2021,26,30,NaN
24854,NaN,Damien Williams,2024,RB,CHI,-99,$0,"$125,000","$125,000",0.000,$0,"$1,500,000",1,"$1,500,000","$8,972,000",2022,2021,28,32,NaN
24855,NaN,Tanoh Kpassagnon,2024,DE,NO,2017,$0,"$100,000","$100,000",0.000,$0,"$2,250,000",2,"$4,500,000","$9,290,468",2023,2021,26,30,NaN
24856,NaN,"Odell Beckham, Jr.",2024,WR,LAR,2014,$0,"$100,000","$100,000",0.000,$0,"$1,250,000",1,"$1,250,000","$82,896,476",2022,2021,28,32,NaN

In [4]:
# Determine if there are any missing values in the financial data.
financials_df.count()

Rank                0
Player          24857
Year            24857
Pos             24857
Team            24857
Draft Year      24857
BaseSalary      24857
SigningBonus    24857
Cap Hit         24857
Salary%         24857
Cash            24857
AAV             24857
CONT YR         24857
CONT VALUE      24857
Earnings        24857
FA Year         24857
Sign Year       24857
Sign Age        24857
Age             24857
Unnamed: 19         0
dtype: int64

In [5]:
# Determine if there are any missing values in the financial data.
financials_df.isnull()

,Rank,Player,Year,Pos,Team,Draft Year,BaseSalary,SigningBonus,Cap Hit,Salary%,Cash,AAV,CONT YR,CONT VALUE,Earnings,FA Year,Sign Year,Sign Age,Age,Unnamed: 19
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24852,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24853,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24854,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24855,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24856,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [7]:
# Drop 
financials_df = financials_df.drop(columns=["Rank","Unnamed: 19","Age", "FA Year", "Sign Year", "Sign Age","Cash","Draft Year","AAV","CONT YR","CONT VALUE","Earnings"])
financials_df

KeyError: "['Rank' 'Unnamed: 19' 'Age' 'FA Year' 'Sign Year' 'Sign Age' 'Cash'\n 'Draft Year' 'AAV' 'CONT YR' 'CONT VALUE' 'Earnings'] not found in axis"

In [8]:
#define values
values = [2022, 2023, 2024]

#drop rows that contain any value in the list
financials_df = financials_df[financials_df.Year.isin(values) == False]
financials_df

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%
0,Mark Sanchez,2011,QB,NYJ,"$14,225,000",$0,"$17,228,125",0.134
1,Dwight Freeney,2011,OLB,IND,"$11,420,000","$2,500,000","$16,420,000",0.134
2,Larry Fitzgerald,2011,WR,ARI,"$2,000,000","$5,000,000","$16,250,000",0.133
3,Mario Williams,2011,DE,HOU,"$13,800,000",$0,"$16,200,000",0.135
4,Peyton Manning,2011,QB,IND,"$3,400,000","$4,000,000","$16,000,000",0.130
...,...,...,...,...,...,...,...,...
21996,Stephen Sullivan,2021,WR,CAR,"$36,666",$0,"$36,666",0.000
21997,Jalen Camp,2021,WR,HOU,"$36,666",$0,"$36,666",0.000
21998,Michael Dwumfour,2021,DT,HOU,"$36,666",$0,"$36,666",0.000
21999,Tarik Black,2021,WR,NYJ,"$36,666",$0,"$36,666",0.000
22000,Connor Strachan,2021,LB,HOU,"$36,666",$0,"$36,666",0.000

In [10]:
# Determine if there are any missing values in the financial data.
financials_df.isnull()

       Player   Year    Pos   Team  BaseSalary  SigningBonus  Cap Hit  Salary%
0       False  False  False  False       False         False    False    False
1       False  False  False  False       False         False    False    False
2       False  False  False  False       False         False    False    False
3       False  False  False  False       False         False    False    False
4       False  False  False  False       False         False    False    False
...       ...    ...    ...    ...         ...           ...      ...      ...
21996   False  False  False  False       False         False    False    False
21997   False  False  False  False       False         False    False    False
21998   False  False  False  False       False         False    False    False
21999   False  False  False  False       False         False    False    False
22000   False  False  False  False       False         False    False    False

[22001 rows x 8 columns]

In [11]:
financials_df.dtypes

Player           object
Year              int64
Pos              object
Team             object
BaseSalary       object
SigningBonus     object
Cap Hit          object
Salary%         float64
dtype: object

In [13]:
# Combine records of renamed teams
financials_df["Team"].replace({"LAR":"LAR/STL", "STL":"LAR/STL", "JAC":"JAX","LV": "LV/OAK","OAK": "LV/OAK", "SD":"LAC/SD", "LAC":"LAC/SD"},inplace=True)
financials_df.head(50)

C:\Users\dpren\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%
0,Mark Sanchez,2011,QB,NYJ,"$14,225,000",$0,"$17,228,125",0.134
1,Dwight Freeney,2011,OLB,IND,"$11,420,000","$2,500,000","$16,420,000",0.134
2,Larry Fitzgerald,2011,WR,ARI,"$2,000,000","$5,000,000","$16,250,000",0.133
3,Mario Williams,2011,DE,HOU,"$13,800,000",$0,"$16,200,000",0.135
4,Peyton Manning,2011,QB,IND,"$3,400,000","$4,000,000","$16,000,000",0.130
5,Joe Thomas,2011,LT,CLE,"$8,000,000","$2,260,000","$15,960,000",0.123
6,Elvis Dumervil,2011,OLB,DEN,"$14,000,000","$500,000","$15,623,000",0.107
7,Michael Vick,2011,QB,PHI,"$10,000,000","$1,400,000","$14,400,000",0.110
8,Calvin Johnson,2011,WR,DET,"$8,875,000","$2,800,000","$14,175,000",0.117
9,Eli Manning,2011,QB,NYG,"$8,500,000","$2,600,000","$14,100,000",0.116
10,Philip Rivers,2011,QB,LAC/SD,"$8,400,000","$3,910,000","$13,510,000",0.112
11,Matt Ryan,2011,QB,ATL,"$11,250,000","$2,000,000","$13,250,000",0.110
12,Adrian Peterson,2011,RB,MIN,"$8,250,000","$2,900,000","$12,955,000",0.106
13,Tom Brady,2011,QB,NE,"$5,750,000","$3,200,000","$12,950,000",0.102
14,Jake Long,2011,LT,MIA,"$11,200,000",$0,"$12,800,000",0.099
15,Drew Brees,2011,QB,NO,"$7,393,500",$0,"$12,574,700",0.101
16,Paul Soliai,2011,DT,MIA,"$12,476,000",$0,"$12,476,000",0.097
17,Sam Bradford,2011,QB,LAR/STL,"$450,000","$3,595,000","$12,465,000",0.101
18,Ndamukong Suh,2011,DT,DET,"$1,239,706",$0,"$11,904,706",0.098
19,Brian Urlacher,2011,LB,CHI,"$8,025,000","$1,200,000","$11,825,000",0.092
20,Jason Smith,2011,LT,LAR/STL,"$8,500,000",$0,"$11,767,500",0.095
21,Jared Allen,2011,DE,MIN,"$8,979,438","$2,583,344","$11,762,782",0.096
22,Vincent Jackson,2011,WR,LAC/SD,"$11,424,000",$0,"$11,424,000",0.095
23,Darrius Heyward-Bey,2011,WR,LV/OAK,"$1,000,000",$0,"$11,415,000",0.093
24,Tyson Jackson,2011,DE,KC,"$1,790,000",$0,"$11,340,000",0.079
25,Ben Roethlisberger,2011,QB,PIT,"$6,000,000","$4,200,000","$11,320,000",0.094
26,Darrelle Revis,2011,CB,NYJ,"$6,000,000","$783,416","$11,265,916",0.088
27,Champ Bailey,2011,CB,DEN,"$6,500,000",$0,"$11,000,000",0.075
28,Darren McFadden,2011,RB,LV/OAK,"$7,045,000",$0,"$10,873,833",0.088
29,Brandon Marshall,2011,WR,MIA,"$6,500,000","$1,100,000","$10,800,000",0.084
30,Marcus McNeill,2011,T,LAC/SD,"$10,000,000","$358,200","$10,358,200",0.086
31,John Abraham,2011,OLB,ATL,"$8,000,000","$2,083,333","$10,083,333",0.084
32,Terrell Suggs,2011,OLB,BAL,"$3,400,000","$2,020,000","$10,020,000",0.079
33,Charles Johnson,2011,DE,CAR,"$4,000,000","$6,000,000","$10,000,000",0.081
34,Jordan Gross,2011,LT,CAR,"$6,000,000","$1,000,000","$10,000,000",0.081
35,Terence Newman,2011,CB,DAL,"$8,000,000","$2,000,000","$10,000,000",0.073
36,Nnamdi Asomugha,2011,CB,PHI,"$1,000,000",$0,"$10,000,000",0.076
37,Steve Smith,2011,WR,CAR,"$7,000,000","$1,550,000","$9,993,750",0.081
38,D'Brickashaw Ferguson,2011,LT,NYJ,"$5,615,000","$266,666","$9,859,166",0.077
39,Jay Cutler,2011,QB,CHI,"$7,600,000","$1,400,000","$9,500,000",0.074
40,Davin Joseph,2011,G,TB,"$9,500,000",$0,"$9,500,000",0.066
41,Chris Long,2011,DE,LAR/STL,"$1,235,000",$0,"$9,482,500",0.077
42,Steven Jackson,2011,RB,LAR/STL,"$7,200,000","$2,279,000","$9,479,000",0.077
43,Levi Brown,2011,LT,ARI,"$6,777,500",$0,"$9,420,000",0.077
44,Chris Gamble,2011,CB,CAR,"$6,244,117","$1,000,000","$9,244,117",0.075
45,Matt Schaub,2011,QB,HOU,"$5,700,000","$750,000","$9,000,000",0.075
46,Russell Okung,2011,LT,SEA,"$1,400,000","$280,000","$8,880,000",0.063
47,Kyle Orton,2011,QB,KC,"$7,379,000",$0,"$8,879,000",0.062
48,Ed Reed,2011,S,BAL,"$6,500,000","$1,071,428","$8,871,428",0.070
49,Charles Woodson,2011,SS,GB,"$7,850,000",$0,"$8,787,500",0.070

In [15]:
# export to csv
financials_df_path = 'financials_r1.csv'
financials_df.to_csv(financials_df_path)