In [1]:
# Add dependencies
import os
import pandas as pd
import csv

In [2]:
# Files to load
financials_to_load = "Resources/NFL_Yearly_Breakdown_combined.csv"

In [3]:
# Read the financials data file and store it in a Pandas DataFrame.
financials_df = pd.read_csv(financials_to_load)
financials_df

,Rank,Player,Year,Pos,Team,Draft Year,BaseSalary,SigningBonus,Cap Hit,Salary%,Cash,AAV,CONT YR,CONT VALUE,Earnings,FA Year,Sign Year,Sign Age,Age,Unnamed: 19
0,NaN,Mark Sanchez,2011,QB,NYJ,2009,"$14,225,000",$0,"$17,228,125",0.134,"$14,725,000","$10,100,000",5,"$50,500,000","$41,392,500",2014,2009,22,25,NaN
1,NaN,Dwight Freeney,2011,OLB,IND,2002,"$11,420,000","$2,500,000","$16,420,000",0.134,"$11,420,000","$12,000,000",6,"$72,000,000","$72,137,572",2013,2007,26,31,NaN
2,NaN,Larry Fitzgerald,2011,WR,ARI,2004,"$2,000,000","$5,000,000","$16,250,000",0.133,"$20,000,000","$16,142,857",7,"$113,000,000","$73,782,500",2019,2011,27,28,NaN
3,NaN,Mario Williams,2011,DE,HOU,2006,"$13,800,000",$0,"$16,200,000",0.135,"$13,800,000","$9,000,000",6,"$54,000,000","$44,500,000",2012,2006,20,26,NaN
4,NaN,Peyton Manning,2011,QB,IND,1998,"$3,400,000","$4,000,000","$16,000,000",0.130,"$26,400,000","$18,000,000",5,"$90,000,000","$171,732,000",2016,2011,34,35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24852,NaN,Bradley Roby,2024,CB,NO,2014,$0,$0,"$169,475",0.001,$0,"$10,500,000",3,"$31,500,000","$54,970,752",2023,2020,27,32,NaN
24853,NaN,Jesse James,2024,TE,CHI,2015,$0,"$162,500","$162,500",0.001,$0,"$1,650,000",1,"$1,650,000","$17,707,976",2022,2021,26,30,NaN
24854,NaN,Damien Williams,2024,RB,CHI,-99,$0,"$125,000","$125,000",0.000,$0,"$1,500,000",1,"$1,500,000","$8,972,000",2022,2021,28,32,NaN
24855,NaN,Tanoh Kpassagnon,2024,DE,NO,2017,$0,"$100,000","$100,000",0.000,$0,"$2,250,000",2,"$4,500,000","$9,290,468",2023,2021,26,30,NaN
24856,NaN,"Odell Beckham, Jr.",2024,WR,LAR,2014,$0,"$100,000","$100,000",0.000,$0,"$1,250,000",1,"$1,250,000","$82,896,476",2022,2021,28,32,NaN

In [4]:
# Determine if there are any missing values in the financial data.
financials_df.count()

Rank                0
Player          24857
Year            24857
Pos             24857
Team            24857
Draft Year      24857
BaseSalary      24857
SigningBonus    24857
Cap Hit         24857
Salary%         24857
Cash            24857
AAV             24857
CONT YR         24857
CONT VALUE      24857
Earnings        24857
FA Year         24857
Sign Year       24857
Sign Age        24857
Age             24857
Unnamed: 19         0
dtype: int64

In [5]:
# Determine if there are any missing values in the financial data.
financials_df.isnull()

,Rank,Player,Year,Pos,Team,Draft Year,BaseSalary,SigningBonus,Cap Hit,Salary%,Cash,AAV,CONT YR,CONT VALUE,Earnings,FA Year,Sign Year,Sign Age,Age,Unnamed: 19
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24852,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24853,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24854,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24855,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24856,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [6]:
# Drop 
financials_df = financials_df.drop(columns=["Rank","Unnamed: 19","Age", "FA Year", "Sign Year", "Sign Age","Cash","Draft Year","AAV","CONT YR","CONT VALUE","Earnings"])

In [7]:
#define values
values = [2022, 2023, 2024]

#drop rows that contain any value in the list
financials_df = financials_df[financials_df.Year.isin(values) == False]
financials_df

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%
0,Mark Sanchez,2011,QB,NYJ,"$14,225,000",$0,"$17,228,125",0.134
1,Dwight Freeney,2011,OLB,IND,"$11,420,000","$2,500,000","$16,420,000",0.134
2,Larry Fitzgerald,2011,WR,ARI,"$2,000,000","$5,000,000","$16,250,000",0.133
3,Mario Williams,2011,DE,HOU,"$13,800,000",$0,"$16,200,000",0.135
4,Peyton Manning,2011,QB,IND,"$3,400,000","$4,000,000","$16,000,000",0.130
...,...,...,...,...,...,...,...,...
21996,Stephen Sullivan,2021,WR,CAR,"$36,666",$0,"$36,666",0.000
21997,Jalen Camp,2021,WR,HOU,"$36,666",$0,"$36,666",0.000
21998,Michael Dwumfour,2021,DT,HOU,"$36,666",$0,"$36,666",0.000
21999,Tarik Black,2021,WR,NYJ,"$36,666",$0,"$36,666",0.000
22000,Connor Strachan,2021,LB,HOU,"$36,666",$0,"$36,666",0.000

In [8]:
# Determine if there are any missing values in the financial data.
financials_df.count()

Player          22001
Year            22001
Pos             22001
Team            22001
BaseSalary      22001
SigningBonus    22001
Cap Hit         22001
Salary%         22001
dtype: int64

In [9]:
financials_df.dtypes

Player           object
Year              int64
Pos              object
Team             object
BaseSalary       object
SigningBonus     object
Cap Hit          object
Salary%         float64
dtype: object

In [14]:
# Combine records of renamed teams
financials_df["Team"].replace({"LAR":"LAR/STL", "STL":"LAR/STL", "JAC":"JAX","LV": "LV/OAK","OAK": "LV/OAK", "SD":"LAC/SD", "LAC":"LAC/SD"},inplace=True)
financials_df.tail(50)

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%
21951,Herb Miller,2021,CB,CLE,"$43,333",$0,"$43,333",0.0
21952,Jaryd Jones-Smith,2021,T,BAL,"$43,333",$0,"$43,333",0.0
21953,Jabari Zuniga,2021,DE,NYJ,"$43,333",$0,"$43,333",0.0
21954,D'Angelo Ross,2021,CB,NE,"$36,666",$0,"$36,666",0.0
21955,Quinn Bailey,2021,T,DEN,"$36,666",$0,"$36,666",0.0
21956,Tyrie Cleveland,2021,WR,DEN,"$36,666",$0,"$36,666",0.0
21957,Mac McCain,2021,CB,DEN,"$36,666",$0,"$36,666",0.0
21958,Joseph Charlton,2021,P,JAX,"$36,666",$0,"$36,666",0.0
21959,Danny Etling,2021,QB,JAX,"$36,666",$0,"$36,666",0.0
21960,Josh Hammond,2021,WR,JAX,"$36,666",$0,"$36,666",0.0
21961,Badara Traore,2021,T,JAX,"$36,666",$0,"$36,666",0.0
21962,Will Bradley-King,2021,DE,WAS,"$36,666",$0,"$36,666",0.0
21963,Aaron Fuller,2021,WR,SEA,"$36,666",$0,"$36,666",0.0
21964,Michael Jackson,2021,CB,SEA,"$36,666",$0,"$36,666",0.0
21965,Josh Johnson,2021,RB,SEA,"$36,666",$0,"$36,666",0.0
21966,Tyler Mabry,2021,TE,SEA,"$36,666",$0,"$36,666",0.0
21967,Cody Thompson,2021,WR,SEA,"$36,666",$0,"$36,666",0.0
21968,Ladarius Hamilton,2021,DE,GB,"$36,666",$0,"$36,666",0.0
21969,Alex Bachman,2021,WR,NYG,"$36,666",$0,"$36,666",0.0
21970,Jake Browning,2021,QB,CIN,"$36,666",$0,"$36,666",0.0
21971,Elliott Fry,2021,K,CIN,"$36,666",$0,"$36,666",0.0
21972,Parker Hesse,2021,TE,ATL,"$36,666",$0,"$36,666",0.0
21973,Austin Trammell,2021,WR,ATL,"$36,666",$0,"$36,666",0.0
21974,Tuf Borland,2021,LB,MIN,"$36,666",$0,"$36,666",0.0
21975,Zach Davidson,2021,TE,MIN,"$36,666",$0,"$36,666",0.0
21976,Myles Dorn,2021,CB,MIN,"$36,666",$0,"$36,666",0.0
21977,Bryan Mills,2021,CB,MIN,"$36,666",$0,"$36,666",0.0
21978,Chris Williams,2021,DT,IND,"$36,666",$0,"$36,666",0.0
21979,Tyler Coyle,2021,S,DAL,"$36,666",$0,"$36,666",0.0
21980,JaQuan Hardy,2021,RB,DAL,"$36,666",$0,"$36,666",0.0
21981,Kayode Awosika,2021,G,PHI,"$36,666",$0,"$36,666",0.0
21982,Christian Elliss,2021,DE,PHI,"$36,666",$0,"$36,666",0.0
21983,Jared Mayden,2021,S,PHI,"$36,666",$0,"$36,666",0.0
21984,JaCoby Stevens,2021,S,PHI,"$36,666",$0,"$36,666",0.0
21985,Casey Tucker,2021,T,PHI,"$36,666",$0,"$36,666",0.0
21986,Marvin Wilson,2021,DT,PHI,"$36,666",$0,"$36,666",0.0
21987,Malcolm Roach,2021,DE,NO,"$36,666",$0,"$36,666",0.0
21988,Curtis Robinson,2021,ILB,SF,"$36,666",$0,"$36,666",0.0
21989,Tavante Beckett,2021,LB,DET,"$36,666",$0,"$36,666",0.0
21990,Dazz Newsome,2021,WR,CHI,"$36,666",$0,"$36,666",0.0
21991,David Wells,2021,TE,ARI,"$36,666",$0,"$36,666",0.0
21992,Curtis Weaver,2021,DE,CLE,"$36,666",$0,"$36,666",0.0
21993,Reggie Bonnafon,2021,RB,CAR,"$36,666",$0,"$36,666",0.0
21994,Madre Harper,2021,CB,CAR,"$36,666",$0,"$36,666",0.0
21995,Tony Poljan,2021,TE,BAL,"$36,666",$0,"$36,666",0.0
21996,Stephen Sullivan,2021,WR,CAR,"$36,666",$0,"$36,666",0.0
21997,Jalen Camp,2021,WR,HOU,"$36,666",$0,"$36,666",0.0
21998,Michael Dwumfour,2021,DT,HOU,"$36,666",$0,"$36,666",0.0
21999,Tarik Black,2021,WR,NYJ,"$36,666",$0,"$36,666",0.0
22000,Connor Strachan,2021,LB,HOU,"$36,666",$0,"$36,666",0.0

In [ ]:
# export to csv
financials_df_path = 'Resources/financials_r1.csv'
financials_df.to_csv(financials_df_path)